body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #f4f4f8;
    color: #333;
    margin: 0;
    padding-bottom: 80px; /* ボトムナビゲーションの高さ分 */
}
html{
    text-align: center;
}
main p{
    text-decoration: underline;
}
.info-group {
        margin-bottom: 15px;
}
.info-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #555;
}
.info-group span {
    font-size: 1.1em;
}
.submit-btn {
    /* <a>タグをボタン風に見せるための調整 */
    font-size: 1.1em;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 12px;
    margin-top: 10px;
    background-color: black;
    text-decoration: none;
    border-radius: 12px;
}