body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #f4f4f8;
    color: #333;
    margin: 0;
    padding-bottom: 80px; /* ボトムナビゲーションの高さ分 */
}
header{
    text-align: center;
    margin-top: 20px;
}
.textBox {
border: 2px solid #333;
border-radius: 5px;
padding: 15px;
position: relative;
margin: 5em 2em;
}

.textBox::before {
background-color: #f4f4f8;
color: #333;
content: attr(data-title); 
font-weight: bold;
left: 30px;
padding: 3px 10px;
position: absolute;
top: -15px;
}
ul {
    list-style-type: none;
    padding: 0;
}
.modal {
    display: none; /* 初期状態では非表示 */
    position: fixed; /* 画面に固定 */
    z-index: 1000; /* 他の要素より手前に表示 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* 背景を半透明の黒にする */
}

/* モーダルの中身（確認画面） */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 画面中央付近に配置 */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* 幅を調整 */
    max-width: 400px;
    border-radius: 8px;
    text-align: center;
}

/* 閉じるボタン */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}