<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" />
    <title>テストWebアプリ</title>
</head>
<body>
    <header>
    <h1>アカウント情報</h1>
    <ul>
        {% for date in past_week %}
        <li>
            <a href="{{ url_for('view_log', date_str=date.isoformat()) }}">{{ date.strftime('%Y年%m月%d日 (%a)') }}</a>
        </li>
        {% endfor %}
    </ul>
    </header>

    <main>
        <h3>アカウント情報</h3>
        <p>アカウント名</p>
        <p>メールアドレス</p>
        <p>パスワード</p>  
        <p>家庭人数</p>
        <p>住所</p>
        <a href="{{ url_for('logout') }}">
            <p>さいんあうと</p>
        </a>
    </main>

    <footer class="bottom-nav">
        <a href="{{ url_for('input') }}" class="nav-item {% if active_page == 'input' %}active{% endif %}">
            <i class="fas fa-calendar-week"></i>
            <span>入力</span>
        </a>
        <a href="{{ url_for('log') }}" class="nav-item {% if active_page == 'log' %}active{% endif %}">
            <i class="fas fa-calendar-week"></i>
            <span>記録</span>
        </a>
        <a href="{{ url_for('knowledge') }}" class="nav-item {% if active_page == 'knowledge' %}active{% endif %}">
            <i class="fas fa-calendar-week"></i>
            <span>豆知識</span>
        </a>
        <a href="{{ url_for('points') }}" class="nav-item {% if active_page == 'points' %}active{% endif %}">
            <i class="fas fa-calendar-week"></i>
            <span>ポイント</span>
        </a>
        <a href="{{ url_for('account') }}" class="nav-item {% if active_page == 'account' %}active{% endif %}">
            <i class="fas fa-calendar-week"></i>
            <span>アカウント</span>
        </a>
    </footer>
</body>
</html>
