<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" />
    <title>テストWebアプリ</title>
</head>
<body>
    <header>
    <h1>アカウント情報</h1>
    <ul>
        {% for date in past_week %}
        <li>
            <a href="{{ url_for('view_log', date_str=date.isoformat()) }}">{{ date.strftime('%Y年%m月%d日 (%a)') }}</a>
        </li>
        {% endfor %}
    </ul>
    </header>

    <main>
        {% if error %}
            <p class="error-message">{{ error }}</p>
        {% endif %}

        {% if user %}
            <div class="card">
                <div class="info-group">
                    <label>ユーザー名:</label>
                    <span>{{ user.username }}</span>
                </div>
                <div class="info-group">
                    <label>メールアドレス:</label>
                    <span>{{ user.email }}</span>
                </div>
            </div>
        {% endif %}
        <a href="{{ url_for('logout') }}" class="submit-btn">
            サインアウト
        </a>
    </main>

    {% include 'footer.html' %}
</body>
</html>
