<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/log.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" />
    <title>テストWebアプリ</title>
</head>
<body>

    <div class="container">
        <header class="header">
            <a href="{{ url_for('log', date=prev_week) }}">前週</a>
            <h3>{{ week_range }}</h3>
            <a href="{{ url_for('log', date=next_week) }}">次週</a>
        </header>
        <nav class="week-nav">
            {% for day in week_dates %}
            <div class="day-selector {% if day.date == today %}active{% endif %}">
                <span class="weekday">{{ day.weekday_jp }}</span>
                <span class="day-num">{{ day.day_num }}</span>
            </div>
            {% endfor %}
        </nav>

        <main class="meal-cards">
            <h1>ここに記録が表示されます。</h1>
        </main>
    </div>



    <footer class="bottom-nav">
        <a href="{{ url_for('input') }}" class="nav-item {% if active_page == 'input' %}active{% endif %}">
            <i class="fas fa-calendar-week"></i>
            <span>入力</span>
        </a>
        <a href="{{ url_for('log') }}" class="nav-item {% if active_page == 'log' %}active{% endif %}">
            <i class="fas fa-calendar-week"></i>
            <span>記録</span>
        </a>
        <a href="{{ url_for('knowledge') }}" class="nav-item {% if active_page == 'knowledge' %}active{% endif %}">
            <i class="fas fa-calendar-week"></i>
            <span>豆知識</span>
        </a>
        <a href="{{ url_for('points') }}" class="nav-item {% if active_page == 'points' %}active{% endif %}">
            <i class="fas fa-calendar-week"></i>
            <span>ポイント</span>
        </a>
        <a href="{{ url_for('account') }}" class="nav-item {% if active_page == 'account' %}active{% endif %}">
            <i class="fas fa-calendar-week"></i>
            <span>アカウント</span>
        </a>
    </footer>
</body>
</html>
