<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/points.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}" />
    <title>テストWebアプリ</title>
</head>
<body>
    <header>
        <h1>ポイント</h1>
    </header>
    <main>
        <h2>所持ポイント</h2>
        <p>1000ポイント</p>
    </main>
    <footer>
    <div class="footer-menu">
        <ul class="footer-menu-list">
        <li>
            <a href="{{ url_for('input') }}">入力</a>
        </li>
        <li>
            <a href="{{ url_for('log') }}">記録</a>
        </li>
        <li>
            <a href="{{ url_for('knowledge') }}">豆知識</a>
        </li>
        <li>
            <a href="{{ url_for('points') }}">ポイント</a>
        </li>
        <li>
            <a href="{{ url_for('account') }}">アカウント</a>
        </li>
        </ul>
    </div>
    <p>テストWebアプリ</p>
    </footer>
</body>
</html>
