<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
    <title>テストWebアプリ</title>
</head>
<body>
    <header>
    <p>ポイント</p>
    <ul>
        {% for date in past_week %}
        <li>
            <a href="{{ url_for('view_log', date_str=date.isoformat()) }}">{{ date.strftime('%Y年%m月%d日 (%a)') }}</a>
        </li>
        {% endfor %}
    </ul>
    </header>
    <main>
    <h2>履歴</h2>
    <h2>ポイント</h2>
    </main>
    <footer>
    <div class="footer-menu">
        <ul class="footer-menu-list">
        <li>
            <a href="{{ url_for('input') }}">入力</a>
        </li>
        <li>
            <a href="{{ url_for('log') }}">記録</a>
        </li>
        <li>
            <a href="{{ url_for('knowledge') }}">豆知識</a>
        </li>
        <li>
            <a href="{{ url_for('points') }}">ポイント</a>
        </li>
        <li>
            <a href="{{ url_for('account') }}">アカウント</a>
        </li>
        </ul>
    </div>
    <p>テストWebアプリ</p>
    </footer>
</body>
</html>
